<footer>
    <div class="footer-container container">
        <div class="content">
            <div class="img-container">
                <img src="../img/image 1 (1).png" alt="">
            </div>
            <p>
                <b>Green Era Management Pvt. Ltd.</b> <br>
                    Environment, Health & Safety
            </p>

           <div>
            <p>Call on: +91 99675 42950</p>
            <p>Email on: mahesh.c@gempl.com</p>
           </div>
        </div>

        <div class="content">
            <p>
                <b>Services</b>
            </p>

            <ul>
                <li>
                    Environmental Management 
                </li>
                <li>
                    Water and Wastewater Management
                </li>
                <li>
                    Health and Safety Management
                </li>
                <li>
                    Electrical and Energy Management
                </li>
            </ul>
        </div>

        <div class="content">
            <p>
                <b>Industries</b>
            </p>

            <ul>
                <li>
                    Construction & Infrastructure
                </li>
                <li>
                    Automobile
                </li>
                <li>
                    Engineering
                </li>
                <li>
                    Electrical & Electronics
                </li>
                <li>
                    Mining
                </li>
                <li>
                    Petrochemical
                </li>
                <li>
                    Paints and Pigments
                </li>
                <li>
                    Packaging
                </li>
                <li>
                    Steel
                </li>
                <li>
                    Refinery
                </li>
                <li>
                    Residential & Commercial
                </li>
                <li>
                    FMCG
                </li>
                <li>
                    Educational Institutions
                </li>
            </ul>
        </div>

        <div class="content">
            <p>
                <b>Insights</b>
            </p>

            <ul>
                <li>
                    <b>About</b>
                </li>
                <li>
                   <b>Contact Us</b>
                </li>
            </ul>
        </div>
    </div>

    <div class="bottom-footer container">
        <p>© 2024  |   Designed By Crafion Studio</p>
        <p> Privacy Policy & Terms of Use</p>
    </div>
</footer>