<header>
    <div class="desktop-nav container">

        <div class="left-container">
            <a class="img-container" href="/">
                <img src="../img/image 1 (1).png" alt="Logo">
            </a>
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/services.html">Services</a></li>
                <li><a href="/industries.html">Industries</a></li>
                <li><a href="#">Key Links</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </div>

        <div class="right-header">
            <div class="img-container">
                <img src="../img/location (2) 1.svg" alt="">
            </div>
            <a href="#">Mumbai</a>
        </div>
    </div>

    <div class="mobile-nav container"> 

        <div class="left-header">
            <div class="img-container">
                <a href="/">
                    <img src="../img/image 1 (1).png" alt="">
                </a>
            </div>
        </div>

        <div class="right-header">
            <div class="location">
                <div class="img-container">
                    <img src="../img/location (2) 1.svg" alt="">
                </div>
                <a href="#">Mumbai</a>
            </div>

            <div class="menu-btn">
                <button onclick=OpenMenubar()>
                    <div class="img-container">
                        <img src="../img/Hamburger.svg" alt="">
                    </div>
                </button>
            </div>
    
            <div class="slider">
    
                <div class="slide-header">
                    <div class="img-container">
                        <a href="/">
                            <img src="../img/image 1 (1).png" alt="">
                        </a>
                    </div>  
                    
                    <div class="close-btn">
                        <button onclick= CloseMenuBar()>
                            <i class="fa-regular fa-circle-xmark"></i>
                        </button>
                    </div>
                </div>
                
                <div class="menu">
                    <ul>
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="/services.html">Services</a></li>
                        <li><a href="/industries.html">Industries</a></li>
                        <li><a href="#">Key Links</a></li>
                        <li><a href="/about.html">About</a></li>
                        <li><a href="/contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>